ion-content {
  --background: #121212;
}

.menu-content {
  --background: #1e1e1e;
  color: #fff;
}

ion-item {
  --background: transparent;
  --color: #eee;
  --ripple-color: transparent;
  font-size: 14px;

  ion-icon {
    color: #bbb;
    font-size: 18px;
  }
}

.custom-tab-bar {
  --background: #1e1e1e;
  --color: #aaa;
  --color-selected: #ffffff;
  border-top: 1px solid #2a2a2a;

  ion-tab-button {
    font-size: 12px;
    ion-icon {
      font-size: 20px;
    }

    &.tab-selected {
      background: #2c2c2c;
    }
  }
}
